<ion-view>
    <ion-nav-title>Compras Fácil - Login</ion-nav-title>
    <ion-content class="padding">
        <form name="form" ng-submit="login()">
            <div class="list list-inset">
                <label for="username" class="item item-input">
                    <input type="text" name="username" ng-model="user.username" placeholder="Digite seu username" required="required">
                </label>
            </div>
            <div class="list list-inset">
                <label for="password" class="item item-input">
                    <input type="password" name="username" ng-model="user.password" placeholder="Digite sua senha" required="required">
                </label>
            </div>
            <button type="submit" class="button button-fil button-balanced">Login</button>
        </form>
    </ion-content>
</ion-view>