<ion-view>
    <ion-nav-title>Compras Fácil - Logout</ion-nav-title>
    <ion-content class="padding">

        <button ui-sref="home" class="button button-balanced button-block">Voltar</button>

        <button ui-sref="login" class="button button-assertive button-block">Sair</button>

    </ion-content>
</ion-view>