<ion-view >
    <ion-nav-title>CompraFácil - Pedido</ion-nav-title>
    <div class="bar bar-subheader">
        <button ng-click="openListProducts()" class="button button-icon button-clear ion-plus "></button>
        <h2 class="title">Total: R$ {{total}}</h2>
        <button class="button button-icon ion-minus-circled" ng-click="showDelete = !showDelete"></button>
    </div>
    <ion-content class="padding  has-subheader">
        <ion-list show-delete="showDelete">
            <ion-item ng-repeat="o in items" ng-click="openProductDetail($index)">
                <h2>{{o.name}}</h2>
                <div class="row">
                    <div class="col">
                        Qtd: {{o.qtd}}<br/>
                        <i class="ion ion-cash"> {{o.price}}</i>
                    </div>
                    <div class="col text-right">
                        <i class="ion ion-social-usd"> {{o.qtd * o.price}}</i>
                    </div>
                </div>
                <ion-delete-button class="ion ion-minus-circled" ng-click="removeItem($index)"></ion-delete-button>
            </ion-item>
            <button type="button" ng-click="save()" class="button button-assertive button-full">Salvar Pedido</button>
        </ion-list>
    </ion-content>

</ion-view>